@import "styles/variables";
.buttonContainer{
  position: fixed;
  bottom: 80px;
  align-items: center;
  height: 32px;
  width: 32px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  background: $primary;
  border-radius: 4px;
  transition: opacity 0.4s, color ease-in-out 0.2s, background ease-in-out 0.2s;
  display: block;
}

.buttonContainer:hover{
  opacity: 1;
}